
    <div class="box">
        <img class="box_bg" src="images/bg/b1_bg.jpg">
        <div class="box01_content">
            <div class="head_div">
                <div class="cycle_item">
                    <a href="https://github.com/runton/blog" class="github_a" id="github_a" target="_blank">
                        <span class="github_icon"></span>
                        <span class="github_text"><p class="item_name">GitHub</p></span>
                    </a>
                    <a href="http://weibo.com/u/5365834168?refer_flag=1001030102_&is_all=1" class="weibo_a" id="weibo_a" target="_blank">
                        <span class="weibo_icon"></span>
                        <span class="weibo_text"><p class="item_name">微博</p> </span>
                    </a>
                    <a href="http://blog.csdn.net/rotbing" class="blog_a" id="blog_a" target="_blank">
                        <span class="blog_icon"></span>
                        <span class="blog_text"><p class="item_name"> 博客</p></span>
                    </a>

                    <div class="green_cycle">
                        <img class="green_cycle_img" src="images/icon/green_cycle.svg">
                        <div class="yellow_cycle">
                            <img class="yellow_cycle_img" src="images/icon/yellow_cycle.svg">
                            <div class="blue_cycle">
                                <img class="blue_cycle_img" src="images/icon/blue_cycle.svg">
                                <div class="head_img_div">
                                    <img class="head_img" src="images/upload/head01.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bg_home"  class="container">
            <div class="col-md-8">
                <div class="person_details">
                    <div class="person_tag">
                        <span>简<br/>介</span>
                    </div>
                    <div class="person_info">
                        <h3>张小兵</h3>
                        <p>张小兵（Zoran），1990年2月17日出生于安徽省安庆市宿松县。毕业于马鞍山河海大学文天学院 。2013年毕业，入职安徽省煤田地质局第一勘探队从事勘察工作。2013年12月，从淮南市第一勘探队离职，2014年2月来到上海市，在上海市岩土地质研究院有限公司从事测量、监测工作。在上海工作期间开始自学web网页开发。2015年5月申请到个人域名（runton.com.cn），同年9月上线个人第一个网站“个人物流宣传页”。2016年6月从上海市岩土地质研究院有限公司离职，转行从事web前端开发工作。2016年9月入职上海市清秀能源科技有限公司，专职从事web前端开发。</p>
                           <!-- 图片轮播 -->
                        <div class="myPicture"></div>
                    </div>
                </div>
                <!-- 代表作品-->
                <div class="main_works">
                    <div  class="tag"><span>代表作品</span><a class="rt" ng-click="entry('/works')" target="_blank">more &gt;</a></div>
                    <div class="main_works_lists ">
                        <ul>
                            <li>
                                <dl>
                                    <dd><img src="images/portfolio/small_img1.jpg" alt=""/></dd>
                                    <dt><h4>个人博客</h4></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dd><img src="images/portfolio/small_img2.jpg" alt=""/></dd>
                                    <dt><h4>企业网站</h4></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dd><img src="images/portfolio/small_img3.jpg" alt=""/></dd>
                                    <dt><h4>个人简历</h4></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dd><img src="images/portfolio/small_img4.jpg" alt=""/></dd>
                                    <dt><h4>俄罗斯方块</h4></dt>
                                </dl>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <!-- 基本信息-->
                <div class="base_info">
                    <div  class="tag"><span>基本信息</span></div>
                    <div class="content">
                        <p>
                            张小兵（Zoran），1990年2月17日出生于安徽省安庆市宿松县。毕业于马鞍山河海大学文天学院 。2013年毕业，入职安徽省煤田地质局第一勘探队从事勘察工作。2013年12月，从淮南市第一勘探队离职，2014年2月来到上海市，在上海市岩土地质研究院有限公司从事测量、监测工作。在上海工作期间开始自学web网页开发。2015年5月申请到个人域名（runton.com.cn），同年9月上线个人第一个网站“个人物流宣传页”。2016年6月从上海市岩土地质研究院有限公司离职，转行从事web前端开发工作。2016年9月入职上海市清秀能源科技有限公司，专职从事web前端开发。
                        </p>
                        <table>
                            <tbody>
                            <tr>
                                <td>中文名</td>
                                <td>张小兵</td>
                                <td>出生日期</td>
                                <td>1990年02月27日</td>
                            </tr>
                            <tr>
                                <td>外文名</td>
                                <td>Zoran</td>
                                <td>职业</td>
                                <td>web前端工程师、测量员</td>
                            </tr>
                            <tr>
                                <td>别名</td>
                                <td>张兵</td>
                                <td>毕业院校</td>
                                <td>河海大学文天学院</td>
                            </tr>
                            <tr>
                                <td>籍贯</td>
                                <td>安徽安庆</td>
                                <td>就职单位</td>
                                <td>上海市清秀能源科技有限公司</td>
                            </tr>
                            <tr>
                                <td>名族</td>
                                <td>汉族</td>
                                <td>个人作品</td>
                                <td>Runton社区</td>
                            </tr>
                            <tr>
                                <td>专业</td>
                                <td>测绘工程</td>
                                <td>学历</td>
                                <td>本科</td>
                            </tr>
                            <tr>
                                <td>婚姻状况</td>
                                <td>未婚</td>
                                <td>现居地</td>
                                <td>上海嘉定</td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td>18616907416</td>
                                <td>邮箱地址</td>
                                <td>949869293@qq.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 工作经验-->
                <div class="jobs_history">
                    <div  class="tag"><span>工作经验</span></div>
                    <div class="content">
                        <ul>
                            <li>
                                <h4>安徽省煤田地质局第一勘探队<span class="rt">勘察技术员</span></h4>
                                <p><span>2013-8 -- 2013-12</span>从事钻探勘察工作。</p>
                            </li>
                            <li>
                                <h4>上海市岩土地质研究院有限公司<span class="rt">测量组长</span></h4>
                                <p><span>2014-4 -- 2016-6</span>负责组织安排基坑监测和工程测量项目。</p>
                            </li>
                            <li>
                                <h4>上海市清秀能源科技有限公司<span class="rt">web前端工程师</span></h4>
                                <p><span>2016-9 -- 2016-12</span>从事前端开发工作。</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 展望未来-->
                <div class="express_future">
                    <div  class="tag"><span>展望未来</span></div>
                    <div class="content">
                        <p>虽然我会很乐观地去面对着生活中的挫折和困难，可我也只是一个平凡的人而已，我也会茫然和彷徨。有时候，一觉醒来，才发现眼角是湿润的，这本不应该是一个大男生有的，可就是有那么多的不从心。
                            我开始彷徨，找不到方向，迷失了自己。难道生活就真的像小郭说的那样的无奈和飞逝吗？我的梦呢？我的未来会变成怎样呢？</p>
                    </div>
                </div>
                <!-- 最新博客-->
                <div class="blog_article">
                    <div  class="tag"><span>最新博客</span></div>
                    <div class="content">
                        <ul>
                            <li><a href="http://blog.csdn.net/rotbing/article/details/53502667">1.博客类网站数据库设计</a></li>
                            <li><a href="http://www.runton.com.cn/runton_article.html?tid=10007">2.关于我的个人网站的构建过程</a></li>
                            <li><a href="http://www.runton.com.cn/runton_article.html?tid=10000">3.大道至简：Angular2只有一个核心概念</a></li>
                            <li><a href="http://blog.csdn.net/rotbing/article/details/54342058">4.Ubuntu 16.10 下安装node.js方法</a></li>
                            <li><a href="http://blog.csdn.net/rotbing/article/details/55004833">5.js创建、写入、读取文件。</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 base_info_box">
                <div class="person_pic" align="center">
                    <img src="images/upload/head02.jpg" alt=""/>
                </div>
                <div class="person_base_info">
                    <ul>
                        <li>姓名：张小兵</li>
                        <li>生日：1990-02-27</li>
                        <li>毕业院校：河海大学文天学院</li>
                        <li>学历：本科</li>
                        <li>籍贯：安徽</li>
                        <li>专业：测绘工程</li>
                        <li>现居：上海嘉定江桥</li>
                    </ul>
                </div>
                <div class="person_specialty">
                    <h3>擅长技能 <span class="rt" ng-click="entry('/skills')">more</span></h3>
                    <div class="specialty_detail">
                        <div id='bar_container' class="bar_container">
                            <div class='bar mint' data-percent='95' data-skill='HTML5+CSS3'></div>
                            <div class='bar red' data-percent='80' data-skill='JavaScript'></div>
                            <div class='bar lila' data-percent='50' data-skill='前端工程化'></div>
                            <div class='bar orange' data-percent='70' data-skill='Node.js'></div>
                            <div class='bar gray' data-percent='50' data-skill='Java'></div>
                            <div class="bar blue" data-percent='60' data-skill='PS&AE&PR&AI'></div>
                            <div class="bar green" data-percent='70' data-skill='PHP'></div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="person_education_experience">
                    <h3>教育经历</h3>
                    <ul>
                        <li>1997-9 -- 2005-6 孙岭小学</li>
                        <li>1997-9 -- 2005-6 孙岭小学</li>
                        <li>1997-9 -- 2005-6 孙岭小学</li>
                        <li>1997-9 -- 2005-6 孙岭小学</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script>
        var x_arr = new Array();
        var y_arr = new Array();
        var x = y = m =0;
        for(var i = 0; i < 800; i++){ //获取指定半径圆上的坐标
            if(i >= 400){
                x = m;
                y = 200 + Math.sqrt(40000 - Math.pow(x-200,2));
                m--;
            }
            else{
                x = m;
                y = 200 - Math.sqrt(40000 - Math.pow(x-200,2));
                m++;
            }
            x_arr[i] = x - 60;
            y_arr[i] = parseInt(y) - 25;
        }

        /*
         *原型轨迹
         */
        var gitMove = document.getElementById('github_a');
        var weiboMove = document.getElementById('weibo_a')
        var blogMove = document.getElementById('blog_a')
        var g_num = 0;
        var w_num = 0;
        var b_num = 0;

        function movegit(){ //定位ID为github_a的元素的位置
            if(g_num <= 750){
                //gitMove.css({"left":x_arr[g_num] + "px","top":y_arr[g_num]+"px"});
                gitMove.style.left = x_arr[g_num] + 'px';
                gitMove.style.top = y_arr[g_num] + 'px';
                g_num += 3;
            }
            else{
                clearInterval(gitTimer);
            }
        }

        function moveweibo(){ //定位ID为weibo_a的元素的位置
            if(w_num <= 400){
                //weiboMove.css({"left":x_arr[w_num]+"px","top":y_arr[w_num]});
                weiboMove.style.left = x_arr[w_num] + 'px';
                weiboMove.style.top = y_arr[w_num] + 'px';
                w_num += 3;
            }
            else{
                clearInterval(weiTimer);
            }
        }

        function moveblog(){ //定位ID为blog_a的元素的位置
            if(b_num <= 90){
                //blogMove.css({"left":x_arr[b_num]+"px","top":y_arr[b_num]});
                blogMove.style.left = x_arr[b_num] + 'px';
                blogMove.style.top = y_arr[b_num] + 'px';
                b_num += 3;
            }
            else{
                clearInterval(blogTimer);
            }
        }

        //movegit();
        var gitTimer=setInterval(movegit,1);
        //moveweibo();
        var weiTimer=setInterval(moveweibo,1);
        //moveblog();
        var blogTimer=setInterval(moveblog,1);

        //第一屏文字加载
        //var boxOneTimer = setInterval(boxOne,800);



        var process = document.getElementById('bar_container').children;//进度条
        var box02_flag=true;

        function hasClass(obj, cls) {
            return obj.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));
        }

        function addActive() { //向进度条添加active类
            for(var i = 0; i < process.length ; i++){
                if(!hasClass(process[i],'active')){
                    //console.log(process[i]);
                    process[i].className += ' active';
                }
            }
        }

        if(box02_flag){
            var timer = setTimeout(addActive,1000);
        }
    </script>